@font-face {
  font-family: "iconfont"; /* Project id 3663710 */
  src: url('iconfont.woff2?t=1663766732502') format('woff2'),
       url('iconfont.woff?t=1663766732502') format('woff'),
       url('iconfont.ttf?t=1663766732502') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
}

.icon-bianji:before {
  content: "\e8ac";
}

.icon-anquan:before {
  content: "\e8ad";
}

.icon-bangzhu:before {
  content: "\e8ae";
}

.icon-buganxingqu:before {
  content: "\e8af";
}

.icon-bofangjilu:before {
  content: "\e8b0";
}

.icon-chuangzuo:before {
  content: "\e8b1";
}

.icon-chenggong:before {
  content: "\e8b2";
}

.icon-ceshi:before {
  content: "\e8b3";
}

.icon-dianhua:before {
  content: "\e8b4";
}

.icon-dianzan:before {
  content: "\e8b5";
}

.icon-dingwei:before {
  content: "\e8b6";
}

.icon-diantong_guan:before {
  content: "\e8b7";
}

.icon-dianying:before {
  content: "\e8b8";
}

.icon-ditu:before {
  content: "\e8b9";
}

.icon-diantong_kai:before {
  content: "\e8ba";
}

.icon-dianyingpiao:before {
  content: "\e8bb";
}

.icon-dingdan:before {
  content: "\e8bc";
}

.icon-gengduo:before {
  content: "\e8bd";
}

.icon-fanbei:before {
  content: "\e8be";
}

.icon-faxian:before {
  content: "\e8bf";
}

.icon-ertongpiao:before {
  content: "\e8c0";
}

.icon-gongyi:before {
  content: "\e8c1";
}

.icon-hongbao:before {
  content: "\e8c2";
}

.icon-fuzhi:before {
  content: "\e8c3";
}

.icon-fenxiang:before {
  content: "\e8c4";
}

.icon-huatifuhao:before {
  content: "\e8c5";
}

.icon-huiyuan:before {
  content: "\e8c6";
}

.icon-aliyu:before {
  content: "\e8c7";
}

.icon-jiju:before {
  content: "\e8c8";
}

.icon-jianshao:before {
  content: "\e8c9";
}

.icon-kabao:before {
  content: "\e8ca";
}

.icon-huati:before {
  content: "\e8cb";
}

.icon-guanzhu:before {
  content: "\e8cc";
}

.icon-maiyizengyi:before {
  content: "\e8cd";
}

.icon-mima:before {
  content: "\e8ce";
}

.icon-nan:before {
  content: "\e8cf";
}

.icon-nv:before {
  content: "\e8d0";
}

.icon-lihe:before {
  content: "\e8d1";
}

.icon-paihangbang:before {
  content: "\e8d2";
}

.icon-lipinka:before {
  content: "\e8d3";
}

.icon-pengyouquan:before {
  content: "\e8d4";
}

.icon-mingxinghuodong:before {
  content: "\e8d5";
}

.icon-qupiao:before {
  content: "\e8d6";
}

.icon-saoyisao:before {
  content: "\e8d7";
}

.icon-rili:before {
  content: "\e8d8";
}

